.login-page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3cc92;
  padding: 16px;
}

.login-box {
  width: 100%;
  max-width: 340px;
  background: #ebe6e6;
  border-radius: 16px;
  padding: 49px 28px;
  text-align: left;
  border: 1px solid rgba(240, 238, 238, 0.08);
}
.login-box h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}
.login-input {
  width: 100%;
  padding: 12px 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  
  
}
.login-button {
  width: 100%;
  padding: 12px;
  background: #4a2d0a;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}
.navbar-admin {
  width: 100%;
  border: 1px solid #000;
  background: #f3cc92;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 1000;
  color: #4a2d0a;
  gap: 8px;
}

.logo-icon {
  font-size: 20px;
}
.nav-links-admin {
  list-style: none;
  text-decoration: none;
  
  display: flex;
  cursor: pointer;
  gap: 24px;
}
.nav-links-admin a {
  text-decoration: none;
  color: inherit; /* optional: makes it same color as surrounding text */
}
